.navbar {
  height: 6.25rem;

  .wrapper {
    height: 100%;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    font-weight: bold;
  }

  .social {
    display: flex;
    gap: 1.25rem;

    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}